.container{
    max-width:100vw;
    display: flex;

    .content{
        display: flex;
        flex-direction: column;
        width: 84.1%;
        max-height: 100vh;
        height: auto;
        overflow-x: scroll;
        overflow-y: scroll;
    }
}