#sidebar{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2rem;
    width: 15.9%;
    height: 100vh;
    padding: 1rem 1rem;
    border: 1px solid #D9DBE9;



    img{
        width: 10rem;
        height: 2rem;
        object-fit: cover;
    }

    .buttonsDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        width: 100%;
        margin-top: 2rem;

        .button,.sairButton{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: .2s;

            &.active{
                .headerButton{
                    .buttonIcon{
                        color: rgb(57, 76, 163);
                    }
                    
                    span{
                        color: rgb(57, 76, 163);
                    }
                }
    
                .arrowIcon{
                    color: rgb(57, 76, 163);
                }
            }

            &:hover{
                cursor: pointer;
                background-color: #e2e2e2;
                padding: .5rem;
                border-radius: 4px;
            }

            .headerButton{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                
                .buttonIcon{
                    color: rgba(145, 151, 179, 1);
                }
                
                span{
                    color: rgba(145, 151, 179, 1);
                }
            }

            .arrowIcon{
                color: rgba(145, 151, 179, 1);
            }
        }

        .sairButton{
            .headerButton{
                .buttonIcon{
                    color:red
                }
                span{
                    color:red
                }
            }
            .arrowIcon{
                color: red;
            }
        }
    }

    .logout-button{
        border-radius: 5rem;
        padding: .5rem 1.5rem;
        background: var(--azul-escuro, #304186);
    }
}