@use "../../../global";

.container {
	width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 1rem;
    padding: 1rem 3rem;
    border-radius: 15px;

    .buscarButton{
        border-radius: 15px;
    }
}
